body{
    background-color: rgb(208, 137, 191);
    color: rgb(49, 103, 59) ;
    font-family: 'BhuTuka Expanded One', cursive;

}

p{
    color: black;
}

h1{
    font-size: 60px;
    font-family: 'Rubik Microbe', cursive;
}

h3{
    font-size: 30px;
    
}

img{
    width: 250px;
    height: 200px;
    border-radius: 10%;
    border-width: 10px;
    border-color: rgb(215, 208, 131);
    border-style: dashed dotted double;
}

div{
    background-color: rgb(157, 131, 179);
}

